<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Source>ConfigurationFile</Source>
  <ApplicationConfiguration>
    <Address>net.tcp://localhost:9008/</Address>
    <ServerName>.\sql2017</ServerName>
    <DatabaseName>PawelPT</DatabaseName>
    <CredentialPath>d:\tech\Pawel\PSCalendar\</CredentialPath>
  </ApplicationConfiguration>
</configuration>
