.App{
	background-color:#f2f2f6;
}

.DateContainer{
	border-radius: 5px;
}

.Title{
	background-color:#42ad88;
	font:Segoe UI;
	font-size:25px;
	height:60px;
	text-align:middle;
	font-weight:bold;
	color:white;
	text-align: center;
	vertical-align: middle;
	line-height: 60px; 
}

.Content
{
	margin: auto;
    width: 1024px;
    background-color: #f2f2f2;
    min-height: 1000px;
    /* bottom: 0; */
    height: auto !important;
    position: relative;
	box-shadow: 5px 10px #f;
	

	box-shadow: 0px 4px 5px 4px rgba(0,0,0,0.24);
	
	
	
}

.Label{
	font:Segoe UI;
	padding:5px;
}

.DateInput {
    font-size: 14px;
    height: 32px;
    font-family: Noto Sans,sans-serif;
    outline: none;
    width: 100px;
    text-align: center;
	border: 0;
    border-radius: 15px;
    line-height: 1.64;
    position: relative;
}

.DateContainer{
	width: 100px;
    float: Left;
    padding-left: 10px;
    padding-right: 10px;
}

.Button{
     border: 0;
    border-radius: 22px;
    cursor: pointer;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 9px 19px;
    margin-top: 20px;
	background-color: #42ad88;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    color: #fff;
    font-size: 12px;
	width:100px;
}