<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Source Type="File"></Source>
  <ApplicationConfiguration>
    <QueneName>CalculateEmailsQuene</QueneName>
    <ServerName>localhost</ServerName>
    <PortNetTcp Comment="net.tcp">8100</PortNetTcp>
    <PortWebApi Comment="Web api port">5101</PortWebApi>
    <DatabaseServerName>.\sql2017</DatabaseServerName>
    <DatabaseName>PawelPT</DatabaseName>
  </ApplicationConfiguration>
</configuration>
