<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Source Type="File"></Source>
  <ApplicationConfiguration>
    <QueneName>CalculateEmailsQuene</QueneName>
    <ServerName>localhost</ServerName>
    <Port>5661</Port>
    <DatabaseServerName>.\sql2017</DatabaseServerName>
    <DatabaseName>PawelPT</DatabaseName>
    <CredentialPath>d:\tech\Pawel\PSCalendar\</CredentialPath>
  </ApplicationConfiguration>
</configuration>
